
body{
    background-image: url(bgdesk2.jpg);
    background-repeat:no-repeat;
    background-size: cover; 
    margin: 0;
}
button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 21px;
    padding: 10px 20px 10px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0;
    position: relative;
    left: 570px;
  }
  
button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
button:hover span {
    padding-right: 25px;
  }
  
button:hover span:after {
    opacity: 1;
    right: 0;
  }



.part1{
    position: relative;
    top: 205px;
}

.heading{  
    color: rgb(89, 196, 2);
    font-size:90px;
    margin:0;
    text-align: center;
    position: relative;
}
.description{
    color: rgba(56, 71, 1, 0.575);
    margin-top: 6px;
    font-size:25px; 
    text-align: center;
}
#welcome{
    color: rgba(45, 99, 1, 0.788);
    font-size:25px;
    position:relative;
    margin: 0;
    left: 370px;
}   

